.buyer_profile_container{
    height: 120vh; 
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* background-color: aquamarine; */
      /* background-image: url("C:\Users\rajir\OneDrive\Desktop\Main-project-Ecommerce\client\src\Assets\Images\pastel-purple-blur-gradation-wallpaper-preview.jpg"); */
      background-size: cover;
  }
  .landing_navbar{
    color:yellowgreen;
}
.buyer_profile_container .buyer_profile_nav span{
    color: rgb(244, 223, 33);
}
.buyer_nav_search input{
    width: 500px;

}
.buyer_profile_nav img{
    height: 40px;
    width: 45px;
    margin-left: 150px;
    margin-right: 10px;
    border: none;
    outline: none;

}
.buyer_nav_search{
    position: relative;
}
.buyer_search_icon{
position: absolute;
right: 25px;
margin-top: 10px;
color: blue;

}
.buyer_profile_navbar a{
    color: white;
}
.buyer_profile_body{
   
    width: 100%;
    height: 120vh;
    min-width: 1128px;
    background-color:#f1f3f6;
}
.buyer_profile_content{
    margin: 0 auto;
    margin: 0 auto;
    position: relative;
  
 width: 1266px;
    height: 700px;
    /* background-color: rgb(14, 104, 183); */

}
.buyer_profile_row_col{
    /* margin: auto;*/
    margin-top: 20px;
    position: absolute;
    width:80%;
    height:680px;
    /* background-color: beige; */
}
.buyer_row{
    padding:10px 34px 0;
    margin-top: 500px;
    height: 100vh;
    border: 2px 2px solid orange;
    /* background-color: blueviolet; */
}
.buyer_profile_photo_name{
    width:350px;
    height: 80px;
    background-color:#ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    display:flex;
    align-items: center;
}
.buyer_hello{
    margin-left: 5px;

}
.buyer_username{
    margin-left: 10px;
    font-weight: 700;
}
.buyer_profile_info{
    width:350px;
    height:630px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  
}
.buyer_profile_myorders{
    width:350px;
    height:70px;
    /* background-color: aqua; */
    border-bottom:1px solid  rgba(0, 0, 0, .08);

}
.buyer_profile_myorders1{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px 12px 5px 2px;
    /* background-color: antiquewhite; */
    margin-left: 2px;
}
.buyer_profile_myorders1 img{
    margin-left: 4px;
    margin-right:0px;
    text-decoration: none;
}
.buyer_profile_myorders1_a{
    /* width: calc(100%-26px); */
  margin-right: 150px;

    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-decoration: none;
}
.buyer_profile_myorders1 a{

}
.buyer_profile_myorders1 a:hover{
    cursor: pointer;
    color: blue;
}
.buyer_profile_myorders1_span{
    float: right;
}
.buyer_profile_account{
    width:350px;
    height:70px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: aqua; */
    /* border-bottom:1px solid  rgba(0, 0, 0, .08); */

}
.buyer_profile_account svg{
    margin-left: 15px;
}
.buyer_profile_account1{
   margin-left: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
    text-decoration: none;
 
}
.buyer_profile_account_container{
    width:350px;
    height:150px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
    /* margin-left: 54px; */
    font-size: 14px;
    /* padding: 12px 5px 12px 66px; */
    cursor: pointer;
    text-decoration: none;
    border-bottom:1px solid  rgba(0, 0, 0, .08);
}
.buyer_profile_acconut_a{
    
    font-size: 14px;
    padding: 12px 5px 12px 66px;
    cursor: pointer;
    text-decoration: none;
    color: black;

}
.buyer_profile_acconut_a:hover{
    cursor: pointer;
    color:blue;
}
.buyer_profile_account svg{
    color: blue;

}
.buyer_profile2_container{
    width:850px;
    height:730px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
   
    
    /* background-color: aqua; */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}
.buyer_profile_form{
    /* background-color: brown; */
    margin-bottom: 50px;
    text-align:start;
}
.buyer_profile_picture_preview{
    position: relative;
  } 
  .buyer_profile_picture_preview img{
   
    width: 100px; 
    height: 100px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #d7d3d3;
  }
  .buyer_profile_editicon{
/* position: absolute; */
/* margin-bottom: 70px; */
  }
  .buyer_profile_editicon svg{
    
  

  }
  .buyer_profile_picture_preview #image-upload{
    /* margin-top: 20px; */
      /* padding: 5px; */
      /* font-size: 16px; */
      cursor: pointer;
  }
  .buyer_profile22_headings{
    margin-top: 20px;
  
    
    align-items: center;
  }
  .buyer_profile_edit_buttons{
    margin: auto;
    width: 700px;
    /* background-color: #878787; */
    display: flex;
    
    justify-content: space-between;
  }
  .buyer_profile_edit_buttons button{
    background-color: blue;
    font-size: 18
    +px;
    font-weight: 400px;
    height: 45px;
    width: 150px;
    color: white;
    border-radius: 20px;
  }
  .buyer_profile_edit_buttons button:active{
    transform: scale(0.85);
        background: blue;
        box-shadow: 0 0 10px rgba(0,0,0, .1);
        transition: all 0.3s ease;
  }