.buyer_profile_sidebar{
    /* display: flex; */
    gap: 20px;
    position: relative;
    min-height: 100vh;
    /* flex-direction:row; */
    /* justify-content: space-between; */
}
.buyer_profile2_container{
    width:850px;
    height:730px;
    margin-left: 200px;

    position: absolute;
    /* background-color: aqua; */
    background-color: #fff;

    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
} 