.buyer_login_container{
    height: 120vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    
    /* background-color: aquamarine; */
      /* background-image: url("C:\Users\rajir\OneDrive\Desktop\Main-project-Ecommerce\client\src\Assets\Images\pastel-purple-blur-gradation-wallpaper-preview.jpg"); */
      background-size: cover;
  }
  .buyer_login_row_container{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    
   
}
.buyer-login-rightBox {
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
  }
  .buyer-login-leftBox {
    /* background-color: aqua; */
    height: 100vh;
    width: 50%;
  
    
    justify-content: center;
    align-items: center;
}
    .buyer-login-inputBox {
        position: relative;
    
      
        width: 420px;
        height: 450px;
        margin: auto;
        /* background-color: rgba(137, 139, 244, .2); */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
       
        backdrop-filter: blur(5px);
        border-radius: 10px;
        color:black;
    
      }
      .buyer-login-leftBox img{
        height: 600px;
        width: 600px;
        margin-bottom: 50px;
      margin-left: 80px;  
      }
      .buyer_login_form form{
        width: 400px;
        padding: 20px;
        margin-top: 10px;
    }
    form h1{
        font-size: 36px;
        text-align: center;
    }
    form .buyer_login_input{
        position: relative;
        width: 100%;
        height: 50px;
        margin-top: 30px;}
        
    .buyer_login_input input{
        width: 100%; 
         height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid black;
        border-radius: 10px;
         font-size: 16px;
         
         padding: 20px 45px 20px 20px;
    
    }
    .buyer_login_input input::placeholder{
        color:;
    }
    .buyer_login_input .buyer_login_icon{
        position: absolute;
        right: 20px;
        top:50px;
        translate: 0 -50px;
        font-size: 16px;
    
    }
    form .buyer_login_remember{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    
    }
    .buyer_login_remember label input{
        accent-color: white;
        margin-top: 30px;
        margin-right:4px ;
    }
    .buyer_login_remember a{
        margin-top: 25px;
        color: black;
        text-decoration: none;
    
    }
    .buyer_login_remember a:hover{
        text-decoration: underline;
    }
    .buyer_login_form form button{
        margin-top:10px ;
        width: 100%;
        height: 45px;
        background: white;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0, .1);
        cursor: pointer;
        font-size: 16px;
        color:black;
        font-weight: 700;
        transition: all 0.3s ease;
    
    }
    .buyer_login_form form button:active{
        transform: scale(0.85);
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0, .1);
        transition: all 0.3s ease;
    }
    form .buyer_login_register{
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;
    }
    .buyer_login_register p a{
        margin-top: 30px;
        color:black;
        text-decoration: none;
        font-weight: 600;
    }
    .buyer_login_register p a:hover{
        text-decoration: underline;
    
    
    }
    .buyer_login_register p{
        margin-top: 20px;
        text-align: center;
    }
    .buyer_login_input .buyer_login_icon{
        position: absolute;
        right: 20px;
        top: 25px;
        translate:0 -50%;
        font-size: 16px;
    } 