.buyer_view_profile{
    height: 200px;
    width: 350px;
    margin-left: 600px;
    margin-top: 0px;
    position: absolute;
    background-color: aqua;

}

.buyer_profile2_headings{
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    /* padding-bottom: 24px; */

}
.buyer_profile2_personal{
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
}
.buyer_profile2_edit{
    font-size: 14px;
    font-weight: 500;
    color: #2874f0;
    cursor: pointer;
}