.buyer_view_profile{
    width:850px;
    height:730px;
    position: relative;
    display: flex;
    flex-direction: column;
    
    /* background-color: aqua; */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

}

.buyer_profile2_headings{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-left: 60px;
    /* padding-bottom: 24px; */

}
.buyer_profile2_personal{
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
    margin-left: 80px;
}
.buyer_profile2_edit{
    font-size: 14px;
    font-weight: 500;
    color: #2874f0;
    cursor: pointer;
    margin-right: 40px;
}
.buyer_profile_info_container{
    width:800px;
    height:650px;
    margin: auto;
    /* background-color: aqua; */
}
.viewprofile_col4{
    /* background-color: #2874f0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.viewprofile_picture_container{
    /* /* height: 120px;
    width: 80px; */

    /* background-color: #f5c9c9; */
    /* border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08); */
} 
.viewprofile_picture_preview img{ 
    height: 180px;
    width: 180px;
    margin-top: 30px;
    object-fit: cover;
    
}
.viewprofile_name_mail{
    height: 200px;
    width: 250px;
    margin-top: 50px;
    text-align: left;
   
    /* background-color: #f5c9c9; */
}
.viewprofile_name_mail span{
    font-size: 18px;
    font-weight: 400;
    padding: 24px;
    
}
.viewprofile_col8{
    margin-bottom:70px;
        border-radius: 30px;
        height: 350px;
        width: 300px;
}
.viewprofile_col8 h3{
    margin-right: 250px;
    /* margin-bottom: 20px; */
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.buyer_viewprofile_table{
    /* justify-content:left; */
    margin-top: 40px;
        align-items:center;
        width: 100%;
        height: 280px;
        border-collapse: collapse;
}
.buyer_viewprofile_table td{
    width:1400px;
        padding: 10px;
        /* border:2px solid black; */
        border-radius: 20px;
        color: rgb(14, 9, 9);
        text-align: left;
}
.buyer_viewprofile_table td:first-child{
    font-weight: bold;
}
.viewprofile_gradienttext p{
    font-size: 18px;
    margin-bottom: 20px;
    color:rgb(12, 15, 17)
    
  }