.categoryWrapper{
    min-width:30%;
 
    /* width:40px; */
    margin:auto;
    background-color: #f3f3f3;
    box-shadow:  0px 0px 3px 0px rgba(0,0,0,0.5);
    flex-shrink: 0;
    scroll-snap-align: start;
    text-align: center;
   
}
.categoryBtn{
    background-color: #fff; /* set your desired background color */
    color: #262626;
    font-family:monospace; /* set your desired text color */
    font-weight:bold;
    border: none; /* remove button border */
    border-radius: 5px;
    padding: 1em; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
    width:50%;
    margin-top:13em;
  }
  .categoryImg{
    /* width:100px; */
  }

  @media (min-width:1024px){
    .categoryWrapper{
      /* width:100%; */
    }
  }