:root{
    --fs-large:1rem;
    --fs-medium:0.875rem;
    --fw-bold:800;
    --fw-regular:400;
    --fw-medium:500;
    
    --property-bg-color:#262626;
    --subtitle-font-color:#C4C4C4;
    --text-color:#FFFFFF;

}


.electronicCardWrapper{
    max-width:90%;
    margin:auto;
    /* border-radius: 10px; */
    /* box-shadow:0px 0px 3px 0px rgba(0,0,0,0.75); */
    /* border:1px solid var(--text-color); */
    overflow:hidden;
    scroll-snap-align: start;
    flex-shrink:0;
    /* background-color: aqua; */
}
.electronicCardWrapper img{
    border-right: 1.8px solid#C4C4C4;
}

.eproductImage{
    width:100%;

}
.eproductImage img{
    width: 100%;
    height: 400px;
    object-fit:contain;
}

.eproductProperties{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    color:var(--text-color);
    /* background-color: var(--property-bg-color); */
    padding:1em;
    gap:0em 1.5em;
    justify-content: center;
    align-content: center;

}

.title{
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

.subtitle{
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
    color:var(--subtitle-font-color);
    grid-area:2/1/3/2;
}

.shopNowBtn{
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
    border:1px solid var(--text-color);
    color:var(--text-color);
    background-color: var(--property-bg-color);
    border-radius:8px;
    padding-inline:0.5em;
}

@media (min-width:768px){
    .electronicCardWrapper{
        /* width:50%; */
    }
    .eproductImage img{
        object-fit:cover;
    }  
   
}
@media (min-width:1024px){
    .electronicCardWrapper{
        max-width:32%;
    }
}
@media (min-width:1440px){
    .electronicCardWrapper{
        max-width:30%;
    }
  .eproductProperties{
    text-wrap: nowrap;
  }
}
