.homepage
{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
.user-landing-background {
    background: linear-gradient(
      107.65deg,
      rgba(109, 54, 152, 0.7) 0%,
      #6d3698 96.68%
    );
    height: 75vh;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  .userlanding-carouselitem12 {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .userlanding-carouselitem2 {
    height: 50vh;
    width: 100%;
    margin-top: 100px;
  }
  .userlanding-carouselitem3 {
    height: 70vh;
    width: 80%;
  }
  .user-landing-para {
    font-size: 50px;
    color: white;
  }
  .user-landing-para1 {
    font-size: 30px;
    color: white;
    margin-left: 80px;
  }
  .user-landing-button {
    background-color: white;
    border: none;
    height: 80px;
    width: 350px;
    font-size: 40px;
    font-weight: 500px;
    border-radius: 8px;
    font-weight: 600;
    color: #6e3799;
  }
  .user-landing-h1 {
    color: white;
  }
  .user-landing-div {
    color: white;
    font-size: 26px;
    margin-top: 30px;
  }
  .user-landing-button2 {
    background-color: white;
    border: none;
    height: 47px;
    width: 255px;
    font-size: 27px;
    border-radius: 8px;
    font-weight: 600;
    color: #6e3799;
  }
  .user-landing-landingdelivery {
    width: 100%;
    height: 70vh;
  }
  .user-landing-h4 {
    color: #8455a8;
  }
  .user-landing-paragraph {
    text-align: justify;
  }
  .user-landing-find {
    color: #6d3698;
  }
  .userlanding-men-img {
    background-color: #d9d9d9;
    border: none;
    height: 30vh;
  }
  .userlanding-text {
    background-color: #f6f7f8;
    border-style: none;
  }
  .userlanding-delivery-img {
    height: 30vh;
  }
  .userlanding-cardtext {
    font-weight: 15px;
  }
  .userlandingfamily {
    height: 80vh;
    width: 100%;
  }
